<!--This is the page where a user can go to view their booking history-->
{% extends "bookings/base.html" %}

{% block content %}
	<!-- Navigation back to movie list -->
	<a href="{% url 'movie_list' %}" class="btn btn-secondary">
    	Go back to movie list
	</a>
	<h1>Booking History</h1>
	{% if bookings %}
		<ul>
			{% for booking in bookings %}
				<li>
					<h2>{{ booking }}</h2>
					<p>User: {{ booking.user }}</p>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No seats are currently available.</p>
	{% endif %}
{% endblock %}