<!--This is the page where a user can go to view their booking history-->
{% extends "bookings/base.html" %}

{% block content %}
	<div class="container mt-5">
		<h1>Bookings</h1>
		{% if bookings %}
			<table class="table table-striped">
				<!-- Header for the table, displays column titles -->
				<thead>
					<tr>
						<th>Movie</th>
						<th>Description</th>
						<th>Seat</th>
						<th>Booking Date</th>
					</tr>
				</thead>
				<!-- Body for the table, displays each movie row -->
				<tbody>
					{% for booking in bookings %}
						<tr>
							<td>{{ booking.movie }}</td>
							<td>{{ booking.movie.description }}</td>
							<td>{{ booking.seat }}</td>
							<td>{{ booking.booking_date }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>No bookings are currently available.</p>
		{% endif %}
	</div>
{% endblock %}